<!--Footer-->
<footer id="footer">
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="http://www.uab.edu/brand/web/policies/disclaimer" target="_blank" class="footerItem">Disclaimer</a>
            <span class="footerItem">|</span>
            <a href="http://www.uab.edu/webpolicy" target="_blank" class="footerItem">Web Pages Policy</a>
            <span class="footerItem">|</span>
            <a href="mailto:askit@uab.edu" class="footerItem">Contact</a>
            <span class="footerItem">|</span>
            <span class="footerItem">© 2017 UAB</span>
        </div>
    </div>
</footer>
